@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");
/*font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif;*/

* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url(./assets/image-header.jpg);
  min-height: 100vh;
  background-position: center;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 48px;
}

.navbar-rth {
  display: flex;
  color: white;
  align-items: center;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
  column-gap: 48px;
  font-size: 18px;
  cursor: pointer;
}

.navbar button {
  border: 0;
  background-color: white;
  font-family: "Fraunces", serif;
  border-radius: 18px;
  padding: 12px 18px;
  cursor: pointer;
}

.navbar button:hover {
  background: transparent;
  background-color: hsl(211, 80%, 90%);
}

.header .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 140px;
}

.main h1 {
  color: white;
  font-family: "Fraunces", serif;
  font-weight: 900;
  font-size: 72px;
}

.main img {
  margin-top: 110px;
}

.section1 {
  display: flex;
}

.left-box, .right-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.text {
  width: 60%;
}

.text h1 {
  font-size: 48px;
  color: hsl(212, 27%, 19%);
  font-family: "Fraunces", serif;
  margin-bottom: 40px;
}

.text p {
  font-size: 16px;
  color: hsl(232, 10%, 55%);
  font-family: "Barlow", sans-serif;
  margin-bottom: 40px;
  line-height: 28px;
}

.text h4 {
  font-family: "Fraunces", serif;
  color: hsl(212, 27%, 19%);
}

.right-box img {
  width: 100%;
}

.section2 {
  display: flex;
}

.section2 .left-box img {
  width: 100%;
}

.section3 {
  display: flex;
}

.section3 .left-box, .right-box {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.section3 .right-box, .left-box img {
  width: 100%;
}

.graphic-design-label {
  position: absolute;
  width: calc(100% - 50%);
  text-align: center;
  bottom: 80px;
  font-family: 'Barlow', sans-serif;
  color: hsl(212, 27%, 19%);
}

.graphic-design-label p {
  margin-top: 32px;
  line-height: 24px;
}

.graphic-design-label h1 {
  font-family: 'Fraunces', serif;
}

.photography-label {
  position: absolute;
  width: calc(100% - 50%);
  text-align: center;
  bottom: 80px;
  font-family: 'Barlow', sans-serif;
  color: hsl(212, 27%, 19%);
}

.photography-label p {
  margin-top: 32px;
  line-height: 24px;
}

.photography-label h1 {
  font-family: 'Fraunces', serif;
}

.section4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content h2{
  text-align: center;
  margin-top: 180px;
  margin-bottom: 120px;
  font-family: 'Fraunces', serif;
  color: hsl(210, 4%, 67%);
}

.card {
  display: flex;
  justify-content: space-around;
  text-align: center;
  column-gap: 60px;
}

.card1 {
  width: 380px;
}

.card-detail img {
  border-radius: 100px;
  width: 100px;
}

.card-detail p {
  font-size: 18px;
  margin-top: 48px;
  margin-bottom: 54px;
  font-family: 'Barlow', sans-serif;
  color: hsl(213, 9%, 39%);
  line-height: 24px;
  width: 400px;
}

.card-detail h4 {
  font-size: 24px;
  margin-bottom: 14px;
  font-family: 'Fraunces', serif;
  color: hsl(212, 27%, 19%);
}

.card-detail span {
  color: hsl(210, 4%, 67%);
  font-family: 'Barlow', sans-serif;
}

.section5 {
  margin-top: 200px;
}

.content5 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pic {
  width: 475.7px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(168, 34%, 41%);
  font-family: 'Barlow', sans-serif;
}

.lst-content {
  display: grid;
  justify-content: center;
  align-items: center;
}

.logo-ftr {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-ftr img {
  width: 300px;
}

.helpmenu {
  margin-top: 50px;
  display: flex;
  column-gap: 100px;
}

.helpmenu p {
  color: hsl(167, 40%, 24%);
}

.helpmenu p:hover {
  color: white;
  cursor: pointer;
}

.logo-social {
  display: flex;
  column-gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.logo-social img:hover {
  cursor: pointer;
}